body {
text-align: center;
}

#waitingMessage {
    display: none;
    animation: blinker 1.5s step-start infinite;
}

#roomNumber {
    display: none;
}   

#status {
    display: none;
}

#board {
    margin: 0 auto;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.modal-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 300px;
    height: 100px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
}
