html{
    background-color: #312e2b;
    background-repeat: no-repeat;
    background-position: center 10px;
    Background-size: 200%;
    background-blend-mode: lighten;
}

body {
    color: white; /*#e0dcd1;*/
    font-size: 25px;
    font-family: 'Passion One', cursive;
}

#main {
    width: 80%;
    margin: auto;
    display: flex;
}

#left {
  flex:20%;
}

#center {
  flex:40%;
}

#right {
    flex:20%;
}

#color {
    text-align:center;
}

#waitingMessage {
    display: none;
    color: red;
    animation: blinker 1.5s step-start infinite;
    text-align: center;
    margin-bottom: 20px;
}

#roomNumber {
    display: none;
    text-align: center;
}

#status {
    display: none;
    text-align: center;
    /* margin-top: 20px; */
}

#board {
    margin: auto;
    margin-top: 50px;
}

@keyframes blinker {
    50% {
	opacity: 0;
    }
}
